<div class="card" style="width: 100%;margin:5px 0 5px 0" >
  <div class="view overlay zoom">
  <img src="{{instance.image.url}}" class="card-img-top" alt="{{instance.title}}" title="{{instance.title}}" >
  </div>
  <div class="card-body">
    <h6 class="card-title">{{instance.title}} <span class="text-success">{{instance.brand.brandname}}</span></h6>

      <p class="card-text"> &#8377; {{instance.price}}</p>
      <a href="../productdetails/{{product.id}}" target="_blank"><button class="btn btn-warning">View Details</button></a>
  </div>
</div>