{% extends 'base/base.html' %}

{% block content %}


      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h1> Contact Form with Forms.py </h1>
          <form method="post">
             {% csrf_token %}

          {{ form }}
          <br>
          <button type="submit" class="btn btn-warning btn-large">Submit</button>


        </form>


<!--h1> Contact Form using Html tags</h1>

          <form method="post">
            {% csrf_token %}
            <div class="col-md-6">
            <input class="form-control" type="text" name="name" placeholder="Enter your full name" required="required">
          

            <input class="form-control" type="email" name="email" placeholder="Enter your email address" required="required">

            <textarea class="form-control" required="required" name="message" placeholder="Enter your message"></textarea> 

            <button type="submit" class="btn btn-success">Submit</button>
          </div>
          </form-->

          
        </div>

      </div>

    </div>
{% endblock %}
